@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* *{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background: #F0EBE3;
    height: 100vh;
}
.about-me{
    margin: auto;
    width: 60%;
    height: fit-content;
    padding: 10px;
    border: 3px solid #73AD21;
}
.name-div{
    font-family: 'Dancing Script';
    margin: auto;
    margin-top: 40%;
    width: 60%;
    padding: 10px;
    text-align: center;
}
.contract-details{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    padding: 10px;
    text-align: center;
}
.fa{
    padding-left: 30px;
}
.fa-phone{
    padding-left: 0px;
    color: #4285F4;
}
.fa-linkedin{
    color: #3b5998;
}
.fa-twitter{
    color: #55acee;
}
.fa-instagram{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.second{
    height: 100vh;
} */
body{
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    height: 10vh;
    background-color: #041562;
}
.about-me{
    background-color: #041562;
    height: 90vh;
}
/* .img-box{
    border: solid royalblue;
    align-content: center;
} */

.meheraj-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    /* color: #ffffff; */
}
.name{
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 5rem;
    color: white;
}
/* .social-media-link{
    border: solid red;
} */
.social-media-link{
    text-align: center;
    vertical-align: bottom;
    padding: 20px;
}
.fa{
    padding-left: 30px;
}
.fa-envelope{
    padding-left: 0px;
}